/*
  Base
*/
html{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
body {
  font-family: "PT Serif", Georgia, "Times New Roman", serif;
  font-size: 18px;
  color: #515151;
  line-height: 1.75rem;
}

@media (max-width: 30em) {
  body {
    font-size: 14px;
    line-height: 1.5rem;
  }
  body h1 {
    font-size: 1.5rem;
  }
}

h1{
  font-size: 2rem;
}

h1 a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Quattrocento Sans", sans-serif;
  color: #333;
}

a {
  text-decoration: underline;
  color: #333;
}

a:hover {
  color: black;
  border-bottom: none;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

blockquote {
  border-left: 0.25rem solid #ccc;
  margin: 1.5em 10px;
  color: #999;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

/*
  Site container
*/

.container {
  transition: 0.5s ease;
  margin-left: 40%;
  width: 50vw;
}

/*48em*/

@media (max-width: 768px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
  }
}

/*
  Masthead
*/

.masthead {
  font-size: 2rem;
  padding-top: 0.5rem;
  font-family: "Quattrocento Sans", sans-serif;
  margin-bottom: 1.8em;
  border-bottom: 0.1px solid #505050;
}

.masthead-title{
  margin-bottom: 0.5rem;
}

/*
  Post
*/

.post-container {
  margin-bottom: 4rem;
}

.posts {
  margin-bottom: 5rem;
  padding: 0px;
  list-style: none;
}

.post-date {
  display: block;
  margin-top:3px;
  margin-bottom: 1rem;
  color: #9a9a9a;
  font-family: 'Quattrocento Sans', sans-serif;
  font-size:0.8rem;
}

@media (max-width: 30rem) {
  .posts h1 {
    font-size: 1.5rem;
  }
}

.related {
  padding-bottom: 2rem;
}

.related-posts {
  padding-left: 0px;
  list-style: none;
}

.related-posts a {
  text-decoration: none;
}

/*
  Pagination
*/

.pagination {
  overflow: hidden;
  font-family: 'Quattrocento Sans', sans-serif;
  text-align: center;
}

.pagination a {
  text-decoration: none;
}

.pagination-button {
  color: #999;
  border: 1px solid #e0e0e0;
  padding: 15px 45px;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}

.pagination-active {
  color: black;
}

.pagination-active:hover {
  background-color: #e0e0e0;
}

/*
  Footer
*/

.footer {
  color: #999;
  text-align: center;
  margin: 2rem;
}

.footer a {
  color: #999;
  padding: 10px;
  text-decoration: none;
}

.footer a:hover {
  color: #333;
}

/*
  Menu
*/

.menu {
  padding-top: 0.5rem;
  display: block;
}

.menu-content {
  float: left;
}

.menu-content a {
  color: #999;
  font-size: 1rem;
  padding-right: 10px;
}

.social-icons {
  float: right;
}

.social-icons a {
  color: #999;
  font-size: 1rem;
}

@media (max-width: 30em) {
  .social-icons {
    float: left;
    padding-top: 0px;
  }
  .menu-content {
    margin-bottom: 5px;
  }
}

/*
  Code
*/

pre,
code {
    font-size: 0.8rem;
    border-radius: 3px;
    background-color: #f5f5f5;
    font-family: "Source Code Pro";
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

.highlight .lineno {
  color: #aaa;
  display:inline-block;
  padding: 0 5px;
  border-right:1px solid #ccc;
}

.highlight pre code {
  display: block;
  white-space: pre;
  overflow-x: auto;
  word-wrap: normal;
}


/*
  Social media icons
*/

.sharing-icons a {
  padding-right: 10px;
}

/*
.fa-envelope {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-envelope:hover {
	color: #f39c12;
}

.fa-twitter {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-twitter:hover {
	color: #00aced;
}

.fa-instagram {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-instagram:hover {
	color: #375989;
}

.fa-github {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-github:hover {
	color: #343434;
}

.fa-linkedin {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-linkedin:hover {
	color: #0073a4;
}

.fa-facebook {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-facebook:hover {
	color: #3d5b99;
}

.fa-google-plus {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-google-plus:hover {
	color: #e64a41;
}*/

.fa-pinterest {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-pinterest:hover {
	color: #bd081c;
}

.fa-medium {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-medium:hover {
	color: #00AB6C;
}

.fa-codepen {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-codepen:hover {
	color: black;
}

.fa-rss-square {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-rss-square:hover {
	color: #ff6600;
}

/* LEFT PANE */

.left-pane{
  transition: 0.5s ease;
  position: fixed;
  height: 100%;
  z-index: 999;
  width: 30vw;
  top: 0;
  left: 0;
  background-image: url('../img/left-pane-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  color: rgb(255,250,250);
}

.left-pane-text-title {
}

@media (max-width: 768px){
  .left-pane{
    height: 50vh; 
    width:100vw;
    position: relative;
    margin: 0;
    background-position: 0% 50%;
    top:-10px;
    left:-10px;
  }
}

.left-pane__text-title {
}

/*LEFT NAVIGATION*/

.nav-btn{
  position: fixed;
  top: 1.2%;
  left:1.1%;
  z-index: 1000;
  cursor: pointer;
  padding: 0.03rem 0.3rem;
  font-size: 1.5rem;
  background: #202020;
  color: rgb(154,154,154);
  border-radius: 5px;
  transition: color 0.3s ease;
}

.nav-btn:hover{
  color: rgb(245,239,239);
}

.nav-list{
  transition: transform 0.5s ease;
  font-family: "Quattrocento Sans", sans-serif ;
  position:fixed;
  width: 250px;
  top:0;
  left:-250px;
  height: 100%;
  z-index: 1005;
  color: white;
  background: #202020;
}

.nav-close{
  position: absolute;
  top: 6px;
  right: 10px;
  font-size: 2.5rem;
  cursor: pointer;
  color: rgb(154,154,154);
  transition: color 0.3s ease;
}

.nav-close:hover{
  color:rgb(245,239,239);
}

.nav-links {
  list-style-type: none;
  margin-top: 30%;
  font-size: 1rem;
  color: rgb(154,154,154);
}

.nav-links li{
  padding: 8px;
}

.nav-links--contacts {
  position: absolute;
  bottom: 0;
}

.list-item--link {
  display: flex;
  align-items: center;
  border-top: 0.5px solid rgba(255,255,255,0.86);
  border-bottom: 0.5px solid rgba(255,255,255,0.86);
  text-align: center;
  width: 90%;
  margin: 0 auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 0.5rem;
}

.list-item--link i{
  font-size: 1.15rem;
  color: rgb(154,154,154);
  margin-left: 1.5rem;
  transition: color 0.3s ease;
  flex: 1;
}

.list-item--link:hover i{
  color: white;
}

.list-item--link div {
  flex: 1.5;
}

.nav-links a:link,.nav-links a:visited{
  text-decoration: none;
  color: rgb(154,154,154);
  transition: color 0.3s ease;
  cursor: pointer;
}

.nav-links a:hover{
  color: rgb(245,239,239);
}

.open{
  transform: translateX(250px);
}

.left-pane-text{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-family: "Quattrocento Sans", sans-serif;
  position: absolute;
  bottom: 0rem;
  width: 100%;
}

.left-pane-text-title a {
  font-size: 3.2rem;
  width: 90%;
  margin: 0 auto;
  display: block;
  text-decoration: none;
  color: rgba(255,255,255,0.86);
  line-height: 2.75rem;
  /*border-bottom: 0.5px solid rgba(255,255,255,0.86); */
  /*padding-bottom: 2rem;*/
  /*text-align: center;*/
}

.left-pane-text-subtitle {
  color: rgba(255,255,255,0.86);
  display: block;
  width: 90%;
  margin: 0 auto;
  /*text-align: center;*/
}

.left-pane-social-container {
  border-top: 0.5px solid rgba(255,255,255,0.86);
  border-bottom: 0.5px solid rgba(255,255,255,0.86);
  text-align: center;
  width: 90%;
  margin: 0 auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-around;
}

.left-pane-social {
  font-size: 1.2rem;
  color: rgba(255,255,255,0.86);
}

/* POSTS */

.post-title {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* ABOUT PAGE */

.about__image {
  text-align: center;
  margin-top: 5rem;
}

.about__image img{
  border-radius: 50%;
  width: 12rem;
}

.image__description {
  text-align: center;
  width: 100%;
  font-family: "Quattrocento Sans", sans-serif;
  margin: 1rem auto;
}

.about__description {
  margin-top: 1rem;
  width: 100%;
  font-family: "Quattrocento Sans", sans-serif;
}

  .color--important {
    color: black;
    font-weight: 500;
  }

  .blog__link {
    text-decoration: none; 
  }

/* CONTACT PAGE STYLES */

.contact__container {
  font-family: "Quattrocento Sans", sans-serif;
}


  .contact__description {

  }

  .contact__list {
  margin-bottom: 3rem;
  } 

    .contact__list--element  {
      margin: 0.5rem 0;
    }

    .contact__list--element a {
      text-decoration:none;
    }


/* tooltip styles */ 

[tooltip] {
  margin: 10px;
  position: relative;
}

[tooltip]::before {
    content: "";
    position: absolute;
    border-width: 4px 6px 0 6px;
    border-style: solid;
    border-color: rgba(0,0,0,0.7) transparent transparent     transparent;
    z-index: 100;
    left:104%;
    top:50%;
    margin-left:1px;
    transform: translateY(-50%) rotate(90deg);
    opacity: 0;
}

[tooltip]::after {
    content: attr(tooltip);
    position: absolute;
    background: rgba(0,0,0,0.7);
    text-align: center;
    color: #fff;
    padding:4px 2px;
    font-size: 12px;
    min-width: 80px;
    border-radius: 5px;
    pointer-events: none;
    left:105%;
    top:50%;
    margin-left:8px;
    padding: 0 8px;
    transform: translateX(0%) translateY(-50%);
    opacity: 0;
}

[tooltip]:hover::after, [tooltip]:hover::before {
   opacity:1
}