<!doctype html>
<html>

{% include head.html %}

<body>
  <div class="nav-btn" onclick="navOpen()">
  	<i class="fa fa-bars"></i>
  </div>	
  <div class="nav-list">
  	<div class="nav-close" onclick="navOpen()">
  		&times;
  	</div>
  	<ul class="nav-links">
  		{% for item in site.data.settings.menu %}
       		<li> <a href="{{ site.url }}/{{ item.path }}/{{ item.url }}">{{ item.name }}</a> </li>
    	{% endfor %}
  	</ul>
  </div>
  <div class = "left-pane"></div>
  <div class="container">
    {% include header.html %}

    <div class="post-container">
      {{ content }}
    </div>

    {% include footer.html %}

  </div>
  <script type="text/javascript">
  	const leftPane= document.getElementsByClassName('left-pane')[0];
  	const container = document.getElementsByClassName('container')[0];
  	const navList = document.getElementsByClassName('nav-list')[0];

  	function navOpen(){
  		leftPane.classList.toggle('open');
  		container.classList.toggle('open');
  		navList.classList.toggle('open');
  	}

  </script>

</body>
</html>
